@model ao188116_MIS4200.Models.Pet

@{
    ViewBag.Title = "Pet Details";
}

<h2>Pet Details</h2>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Owner Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.fullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.animalType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.animalType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Pet Details", "Edit", new { id = Model.petID }) |
    @Html.ActionLink("Back to List of Pets", "Index")
</p>
