@model ao188116_MIS4200.Models.Appointment

@{
    ViewBag.Title = "Appointment Details";
}

<h2>Appointment Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pet.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.name)
        </dd>

        <dt>
            Vet Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vet.vFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reasoning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reasoning)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Appointment Details", "Edit", new { id = Model.appointmentID }) |
    @Html.ActionLink("Back to List of Appointments", "Index")
</p>
